/.web-server-pid
/app/config/parameters.yml
/app/config/parameters-inm.yml
/build/
/phpunit.xml
/var/*
/uploads
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/tmp/
/tmp/
/web/uploads/
/web/uploadspicto
.idea/*
.vscode/*
composer.lock